.section-div{
    height: 100vh;
    text-align: center;
    padding: 1%;
    width: 80vw;
    place-self: center;
    display: block;
}

.div-tables{
    display: grid;
    gap: 10vw;
    margin-top: 5%;
    justify-content: center;
@media (width>=600px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}
@media (width<600px) {
    grid-template-rows: repeat(3, minmax(0, 1fr));
}
}

.tables{
    width:130%; 
    max-width: 300px;
    background-color: rgba(229, 232, 232, 0.9);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10%;
    box-shadow: 2px 2px 15px;
    height: fit-content;
}

.back-img{
    width: 300px;
    height: 120px;
    place-self: center;
    border-radius: 50%;
}

.heading{
    font-weight: bold;
    font-size: large;
    text-decoration: underline;
    text-decoration-color: #5dade2;
}

.content{
    text-align: center;
}

.button{
    width: fit-content;
    height: fit-content;
    background-color: #424949;
    color: #e5e8e8;
    padding: 5px;
    display: inline-flex; 
    align-items: center; 
    justify-content: center; 
    gap: 0.5em; 
    text-decoration: none; 
    padding: 0.5em 1em; 
    border: none; 
    border-radius: 4px; 
    font-size: 1rem;
    box-shadow: 1px 1px 5px;
    transition: background-color 1s ease;
    cursor: pointer;
}

.button:hover{
    color: #424949;
    background-color: #e5e8e8;
}

.button:disabled {
    background-color: #6a7070; 
    color: #e5e8e8; 
    cursor: not-allowed; 
    box-shadow: none; 
  }