.song-div{
    display: flex;
    justify-content:space-evenly;
    margin: 5%;
    @media (width<=700px) {
        display: block
    }
}

.song-div iframe{
    background-color: #e5e8e8;
    padding: 1%;
    border-radius: 2%;
    box-shadow: 5px 5px 10px;
    @media (width<=600px) {
        max-width: 90vw;
    }
}

.song-innerdiv{
    align-content: center;
    font-weight: bold;
    text-align: center;
    background-color: #e5e8e8;
    border-radius: 5%;
    box-shadow: 5px 5px 10px;
    padding: 1%;
    margin: 10px;
}

.song-innerdiv button{
    margin: 2%;
}