.nav-bar {
  display: flex;
  align-items: center;
  background-color: #e5e8e8;
  max-height: 5vh;
  min-height: fit-content;
  justify-content: space-around;
  padding: 0 1rem;
}

.nav-bar h2 {
  font-size: medium;
  @media (width<=800px) {
    display: none;
  }
}

.ch1 {
  background: linear-gradient(to right, #424949, #5dade2, #2e86c1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 5px;
  width: fit-content;
}

.clinks {
  color: crimson;
  margin-left: 1rem;
  text-decoration: none;
  font-weight: bold;
}

.clinks:hover {
  animation-duration: 500ms;
  color: #424949;
  transition-duration: 500ms;
  cursor: pointer;
}

.main-div {
  max-height: 81vh;
  min-height: 81vh;
  background-color: #5dade2;
  overflow: auto;
}

.foot-style {
  background-color: #e5e8e8;
  padding-bottom: 1vh;
  max-height: 5vh;
  min-height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 2%;
  font-weight: bold;
}

.foot-style a {
  margin-left: 5%;
}

.foot-style p{
  margin-left: 2%;
}